.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/e2e/reports
test/unit/coverage
phantomjsdriver.log
yarn.lock
yarn-error.log
.env
/server/**/*.js.map
/server/**/*.js


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json